@media (prefers-color-scheme: dark) {

  body {
    background-color: #1a1a1a;
    color: #f8f8f2;
    .post-list {
      h1 a,
      h5 a,
      h1 a:hover {
        color: #f8f8f2;
      }
    }
    a {
      color: #aaa;
      &:hover {
        color: #888;
        text-decoration: underline;
      }
    }
    code {
      background: #333;
    }
    blockquote {
      color: white;
    }
    footer .content-container {
      background: #333;
    }
  }

}