@import 'includes';
@import 'fonts';
@import 'colors';

body {
  font-family: var(--font_system_ui), "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: unquote("clamp(1rem, 0.34vw + 0.91rem, 1.2rem)");
  line-height: 1.6;
}

p {
  margin: 1.25em 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 1.5em 0 1em 0;
  line-height: 1em;
}

h1 {
  font-size: 1.625em;
}
h2 {
  font-size: 1.375em;
}
h3 {
  font-size: 1.125em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.75em;
}

h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2.5em;
}

a {
  color: var(--link-color);
  transition: color 0.1s ease;

  &:hover {
    color: var(--link-hover-color);
  }
}

ol li {
  list-style: decimal;
  margin-left: 1.25em;
  margin-bottom: 0.2em;
}

ul li {
  list-style: disc;
  margin-left: 1.25em;
  margin-bottom: 0.2em;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 1.25em;
}

hr {
  margin: 2em 0;
  border: 0;
  border-top: 2px dotted var(--divider-line-color-alt);
}

pre, code {
  font-family: var(--font_monospace_code);
  border-radius: 3px;
}
code {
  font-size: 0.9em;
  padding: 0.25em 0.5em;
}
pre code {
  display: block;
  margin: 1em 0;
  padding: 0.75em 1em;
  color: inherit;
  overflow: auto;
}

img, video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
a > img:hover {
  opacity: 0.75;
  transition: 0.25s;
}
figure {
  width: 100%;
  margin: 2em 0;
  text-align: center;
}
figcaption {
  p {
    margin: 0;
  }
  text-align: center;
  font-size: 0.9em;
  color: var(--blockquote-color);
}

blockquote {
  padding-left: 1.25em;
  padding-right: 1.5em;
  border-left: .25em solid var(--footer-background-color);
  color: var(--blockquote-color);
}

table {
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid var(--table-border-color);
}

td, th {
  vertical-align: middle;
  padding: .25rem .5rem;
  border: 1px solid var(--table-border-color);
}

th {
  font-weight: bold;
}

tbody tr:nth-child(2n+1) td, tbody tr:nth-child(2n+1) th {
  background-color: var(--background-color);
}

sup, sub {
  font-size: 0.8em;
}
sup {
  vertical-align: super;
}

main {
  max-width: 740px;
  padding: 0 20px;
  margin: 0 auto;
}

header h2 {
  margin: 1em;
  a {
    text-decoration: none;
    border: none;
  }
}

.combined-title-pagination {
  margin-top: 2.5em;
  h1 {
    display: inline;
    a {
      text-decoration: none;
      border: none;
    }
  }
  h3 {
    display: inline;
    margin-left: 0.2em;
  }
}

.title-group {
  .title h1 {
    margin-bottom: 0.5em;
  }
  .date h5 {
    color: var(--datetime-color);
    margin: 0;
  }
  margin-bottom: 1.5em;
}

footer {
  margin-top: 3em;
  .content-container {
    background: var(--footer-background-color);
    padding: 2em 0;
    .content {
      max-width: 740px;
      padding: 0 20px;
      margin: 0 auto;
    }
  }
}

.horizontal-links {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.25em;
  a {
    border-right: 2px solid var(--divider-line-color);
    padding-right: 0.6em;
    margin-right: 0.3em;
  }
  a:last-child {
    border: none;
  }
  &:last-child {
    margin-bottom: 1.25em;
  }
}

.post-list {
  h1 a,
  h5 a {
    color: var(--datetime-color);
    text-decoration: none;
    border: none;

    &:hover {
      color: var(--datetime-hover-color);
    }
  }
  .read-more {
    margin-bottom: 1.25em;
  }

  padding-bottom: 1em;
  border-bottom: 1px solid var(--divider-line-color);
}

.tags {
  font-size: 0.9em;
  .links {
    display: inline;
    margin-left: 0.5em;
    a {
      color: var(--link-color-alt);
      text-decoration: none;
      border-bottom: none;
      &:hover {
        color: var(--link-color-alt-hover);
        text-decoration: underline;
      }
    }
  }
}

.paginator {
  margin: 2em 0;
  .disabled {
    color: var(--disabled-element-color);
    text-decoration: none;
    cursor: not-allowed;
  }
  .newer {
    float: right;
    clear: both;
  }
}

.current-page {
  color: var(--divider-line-color-alt);
}

.album {
  .date, .date h5, .location, .location h5 {
    display: inline;
  }
  .location {
    color: var(--album-location-color);
    border-left: solid 2px var(--divider-line-color);
    padding-left: 1em;
    margin-left: 1em;
  }
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7em 0.7em;
    a {
      display: grid;
    }
    a.full-size {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media (max-width:400px) {
  body {
    font-size: 14px;
  }
  .album .photos {
    grid-template-columns: 1fr;
    a {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.reply-buttons {
  margin-top: 2em;
}

ul.reply-buttons {
  list-style-type: none;
  padding: 0;
  
  & > li {
    display: inline;
    margin: 0 0.5em;
    white-space: nowrap;
  }
  
  & > li:first-child {
    margin-left: 0;
  }
  
  & > li a {
    text-decoration: none;
    padding: 0.2em;
  }
}

nav.main-nav {
  margin-top: 1em;
}

input[type=submit],
button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  color: var(--input-color);
  cursor: pointer;
  border: none;
  border-radius: 2px;
  vertical-align: baseline;
}

button {
  &:hover {
    color: var(--link-hover-color);
    transition: color 0.1s ease;
  }
  
  // Tinylytics button
  &.did_select {
    cursor: not-allowed;
    color: var(--disabled-element-color);
  }
}