{{ .Site.Params.description | safeHTML }}

{{ range .Site.Menus.main }}
  <p class="horizontal-links">
    {{ if .Page.Params.redirect_url }}
			<a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
		{{ else }}
			<a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
  </p>
{{ end }}

<!-- Here's a clever way to dynamically show the email while clicking on a link, to avoid spam bots -->
<!-- {{ if .smart_email_link }} class="email-hook" id="about-email" title="Click to show email" {{end}} -->